* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* This stylizes the body of the page */
body {
    background-color: #d9dcd6;
}
/* This stylizes the header on the page. It gives it padding, sets the font family, gives it a background color of blue, and makes the font of the text white. */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* this controls the header of the site "Horiseon," setting it as inline-block, which makes it respect the padding given in the header tag. It also sets the font size to 48px. */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* this effects the word "seo" found within the header "Horiseon" */
header h1 .seo {
    color: #d9dcd6;
}
/* This controls the style of the navbar on the site. The navbar contains the hot links to other sections on the page */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* this sets the list style of the unordered list to none */
 ul {
    list-style-type: none;
}
/* this sets the display of the list items to inline-block, and sets a left margin of 25px */
 li {
    display: inline-block;
    margin-left: 25px;
}
/* this sets the color and decoration of the links found in the navbar */
a {
    color: #ffffff;
    text-decoration: none;
}
/* this sets the font size for every paragraph tag found in the html */
p {
    font-size: 16px;
}
/* this sets the height, width, margins, size, and position of the background image of the site. It also contains the url to the image. */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* this sets the style parameters for the class="columns" */
.column {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* this sets the style parameters for the images found within each main column on the page */
.column img {
    max-height: 200px;
}
/* this sets style parameters for the title of each column on the site */
.column h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* this controls the image position of the "search engine optimization" image found in the first and third column */
.float-left {
    float: left;
    margin-right: 25px;
}
/* this sets the image position of the "online reputation management" image found in the second column.  */
.float-right {
    float: right;
    margin-left: 25px;
}
/* this sets the style parameters for the entire section class="content" */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* this sets the style parameters for the entire section class="benefits" */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* this sets the style parameters benefits section on the right of the screen */
.benefit-specs {
    margin-bottom: 32px;
    color: #ffffff;
}
/* this sets the style parameters for the header for each item in the benefit section */
.benefit-specs h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* this sets the style parameters for each icon in the benefit section */
.benefit-specs img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* this sets the style parameters for the footer section on the website */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* this sets the font size for the header of the footer */
.footer h2 {
    font-size: 20px;
}
